{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ],
  "plugins": ["add-module-exports"],
  "env": {
    "production": {
      "presets": ["minify"],
    }
  }
}
